<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto 01</title>
  </head>

  <body>
    <h1>projeto 01</h1>
    <hr />
    <%= nome %> <%= lang %> <br />
    <% if(msg) { %>
    <h3>erro</h3>
    <% } else { %>
    <h3> sem erro</h3>

    <% } %>

    
     
  </body>
</html>
